body{font-family: 'Montserrat';
}

#title{background-color:rgb(255, 255, 255) ;
color: #212529;
padding-bottom: 3%;
}

h1 { font-family: 'Montserrat, sans-serif';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: #212529;}

h2{font-family: "Montserrat-Bold";
    font-size: 2rem;
line-height: 1.5;

}

h3{font-family: "Montserrat-Bold";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

p{ color: #212529;}

ul{list-style-type: none;
line-height: 2rem;
text-align: left;
padding: 0%;
margin: 0%;}

.container-fluid{padding: 1% 15%;}

.infot{margin: 5% 0%;}
 
.fa-solid fa-circle-check:hover{background-color: #ff4c88;}



/* nav bar */
.navbar{ 
    padding: 0 3% 0;
}

.navbar-brand{font-family: 'ubuntu';
font-size: 2.5rem;
font-weight: bold;
margin-right: 10rem;
color: #070707;}

.navbar-brand:hover{color: black;}


.nav-item{padding: 0 18px;

}

hr{width: 94%;
    margin-left: auto;
margin-right: auto;}

.social{ 

align-items: flex-end; }

.nav-link{ font-size: 1.5rem;
font-family: "montserrat - light";
font-weight: lighter;
color: rgb(7, 7, 7);}

.nav-link:hover{color: #52bebe;}

.btn-success {
    color: #212921;
    background-color: rgb(255, 255, 255);
    border-color: #adf1f1}

.btn-success:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3}

.title-p{color: rgb(10, 10, 10);}

.btn-dark{background-color: rgb(0, 0, 0);}

.btn:hover{background-color: #82df91;
color: black;}

.social-icons{margin: 20px 10px;
    font-size: 2rem;
    text-align: center;
    
    }
    
.social-icons:hover{color: #82df91;
    }


/* download button */
.download{margin: 5% 3% 5% 0;}

/* title image */
.title-image{width: 60%;
border-radius: 50%;
float: right;
}

@media(max-width:1028px){.title-image{float: none;
     } #title{text-align: center;}}

/* features */
#features{padding:1% 15%;
    background-color: #e8ecee;
    }

.offer{ border-color: black;
    list-style-type: circle;
    font-size: 20px;
}

ul li.offer:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin:1% 0%;
    background: rgb(0, 0, 0);
    opacity: 20%;
}

.feautures-p{color: black;
text-align: center;
font-size: xxx-large;
}

@media (max-width:1028px) {.feautures-p { 
text-align: left;
line-height: 1;
margin-bottom: 10%;}}

/* feedback section */

#feedback{
text-align: center;
background-color: white;
color: black;
}


/* certificats */
#certificate{
    text-align: center;
    background-color: white;
    color: black;
    
    max-width: 100%;
  height: auto;
  margin: auto;
    }

/* pricing */

#pricing{text-align: center;
background-color: #e8ecee;}

.row{padding: 1% 3%;}

.pricing-h2{text-align: center;
margin: 20px;
padding: 1% 15%;
}

.pricing-h3{text-align: center;}
/* carousel */

.carousel{padding: 1%}

.carousel-item {padding: 1% 15%;
    width: 100%;
    text-align: justify;
}

.carousel-indicators{height: 1%;}

.carousel-caption{height: 2%;
}

h5{padding-top: 1%;}

.testimonial-text{font-size: 1.6rem;
}

@media(max-width:1400px){.testimonial-text{font-size: 1.1rem;
    padding-bottom: 6%;
}}

@media(max-width:1400px){.h5{font-size: 1.3rem;
    
}}

.certificate_carousel{ width: 60%; margin: 0% auto;
}

@media(max-width:1200px){.certificate_carousel{width: 100%;
    
}}

/* <!-- Call to Action --> */

#cta{
    background-color: #e8ecee;
padding: 2% 15% 1%;
margin: 0%;}

  

.footer-button {text-align: center;
    
}

@media(max-width:1400px){.footer-button{margin-left: 36%;
}}


/* footer */
#footer{background-color: #e8ecee;
text-align: center;
color: rgb(0, 0, 0);
}

.social-icon{margin: 20px 10px;
font-size: 2rem;
text-align: center;

}

.social-icon:hover{color: #a9f387;
}

.p-footer{color: rgb(2, 2, 2);
margin-top: 2rem;
margin-bottom: 0;}

a{color: inherit}

/* contact form*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=number], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #050505;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact_form{padding: 3% 15%;
background-color: #e8ecee;}

.footer-image{width: 24.5%;
    border-radius: 1%;
    display: inline-block;
    position: absolute;
    padding-top: 5%;
}

@media(max-width:1400px){.footer-image{display: none;
}}

.contact {
  border-radius: 5px;
  background-color: #e8ecee;
  display: inline-block;
  position: relative;
  width: 50%;
  left: 40rem;
}

@media(max-width:1400px){.contact{position: static;
width: 100%
}}

.h2contact{text-align: left;}
@media(max-width:1400px){.h2contact{text-align: center}};


